name: cpplint
on: [push, pull_request]
jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - run: pip install cpplint
    - run: cpplint --linelength=180 --filter=-runtime/indentation_namespace,-build/namespaces_literals --exclude=vault --exclude=voxel/src/noise --exclude=v3dlibs --recursive .
